{% extends "base.html" %}
{% block title %}Контакты - Мой Магазин{% endblock %}

{% block content %}

<section class="hero mb-5 rounded shadow-sm">
    <div class="container">
        <h1 class="display-5 fw-bold">Свяжитесь с нами</h1>
        <p class="lead mb-0">Наши контакты и адрес на карте</p>
    </div>
</section>

<div class="container mb-5">
    <div class="row justify-content-center">
        <div class="col-lg-8 bg-white rounded shadow-sm p-4 text-center">

            <h2 class="mb-4">Контактная информация</h2>

            <p><strong>Адрес:</strong> г. Санкт-Петербург, набережная реки Фонтанки, 123/5</p>
            <p><strong>Телефон:</strong> +7 (911) 918-38-97</p>
            <p><strong>Email:</strong> tsysn1@gmail.com</p>

            <div class="mt-4">
                <iframe src="https://yandex.ru/map-widget/v1/?ll=30.313523%2C59.921251&mode=whatshere&whatshere%5Bpoint%5D=30.309918%2C59.920394&whatshere%5Bzoom%5D=17&z=15.6"
                        width="100%" height="400" frameborder="0" allowfullscreen="true"
                        style="border:1px solid #ccc; border-radius:8px;">
                </iframe>
            </div>

        </div>
    </div>
</div>

{% endblock %}
