{% extends "base.html" %}
{% block title %}Обратная связь - Мой Магазин{% endblock %}

{% block content %}

<div class="container mt-5" style="max-width:600px;">
    <h2>Обратная связь</h2>

    <form method="POST">
        <input type="text" name="name" class="form-control mb-3" placeholder="Ваше имя..." required>
        <input type="email" name="email" class="form-control mb-3" placeholder="Ваш Email" required>
        <textarea name="message" class="form-control mb-3" placeholder="Ваше сообщение..." rows="5" required></textarea>
        <button type="submit" class="btn btn-primary w-100">Отправить</button>
    </form>

    {% if success %}
        <div class="alert alert-success mt-3">Ваше сообщение успешно отправлено!</div>
    {% endif %}
</div>

{% endblock %}
