{% extends "base.html" %}
{% block title %}Вход - Мой Магазин{% endblock %}

{% block content %}

<div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="bg-white p-4 rounded shadow-sm" style="width:100%; max-width:400px;">

        <h4 class="text-center mb-4">Вход в интернет-магазин</h4>

        {% if error %}
            <div class="alert alert-danger text-center">{{ error }}</div>
        {% endif %}

        <form method="POST">
            <input type="text" name="username" class="form-control mb-3" placeholder="Логин" required>
            <input type="password" name="password" class="form-control mb-3" placeholder="Пароль" required>

            <div class="mb-3 text-center">
                <img src="{{ captcha }}" alt="Captcha" class="captcha-img" style="max-width: 100%; height: 80px; border: 1px solid #ccc; border-radius: 5px;">
            </div>

            <input type="text" name="captcha" class="form-control mb-3" placeholder="Введите текст с картинки" required>

            <button type="submit" class="btn btn-primary w-100">Войти</button>
        </form>

    </div>
</div>

{% endblock %}
